/* fade in animation when page opens up*/
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* navigation button */
body {
    transition: background-color .5s;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d202b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

body {
    background-image: url("bluebackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Courier New', Courier, monospace
}

body {
    color: lightblue
}

#alku {
    text-shadow: 2px 2px 4px #000000;
}

#nimi {
    text-shadow: 2px 2px 4px #000000;
    font-size: 75px;
}

#jatke {
    text-shadow: 2px 2px 4px #000000;
    max-width: 550px;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

#omakuva:hover {
  animation: tilt-shaking 0.25s infinite;
}

/* div background - almost all divs similar*/
#mainpage {
  background-image: url("solid-navy.jpg");
  border-style: solid;
  border-color:cornflowerblue;
  border-radius: 25px;
  width: fit-content;
  margin-top: 125px;
  margin-left: 200px;
  padding-inline: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#koulutukset {
  background-image: url("solid-navy.jpg");
  border-style: solid;
  border-color:cornflowerblue;
  border-radius: 25px;
  width: fit-content;
  margin-top: 150px;
  margin-left: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#koulutus {
  font-size: 60px;
}

#kuva {
  float: right;
  background-image: url("solid-navy.jpg");
  border-style: solid;
  border-color:cornflowerblue;
  border-radius: 25px;
  margin-right: 220px;
  margin-top: 75px;
  padding-inline: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#diploma {
  float: right;
  margin-right: 400px;
  margin-top: 150px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

#eduotsikko {
  background-image: url("solid-navy.jpg");
  border-style: solid;
  border-color:cornflowerblue;
  float: left;
  border-radius: 25px;
  margin-left: 25px;
  margin-top: 25px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: fit-content
}

#some {
  background-image: url("solid-navy.jpg");
  border-style: solid;
  border-color:cornflowerblue;
  border-radius: 25px;
  margin-left: 650px;
  margin-top: 25px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: fit-content
}

#harrastukset {
  background-image: url("solid-navy.jpg");
  border-style: solid;
  border-color:cornflowerblue;
  border-radius: 25px;
  width: 600px;
  margin-top: 25px;
  margin-left: 200px;
  padding-inline: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Social media -buttons opacity changes when hovered */
#github:hover, #instagram:hover, #twitter:hover, #linkedin:hover {
  opacity: 0.7;
}

/* the timeline below from https://freefrontend.com/css-timelines/ author Jatin Sharma */
/* timeline background div to match other pages */
#aikajana {
  background-image: url("solid-navy.jpg");
  width: fit-content;
  justify-content: center;
  border-style: solid;
  border-color:cornflowerblue;
  border-radius: 25px;
  margin-left: 650px;
  margin-top: 25px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}


/* card container */
.card {
  position: relative;
  width: 600px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid cornflowerblue;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  border-radius: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background: #103f5e;
  color: lightblue
}

/* Title of the card */
.title {
  color: cornflowerblue;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid cornflowerblue;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

#pyörä {
  margin-left: 100px;
}

#computer {
  margin-left: 125px;
}

#kissa {
  float: right;
  margin-right: 700px;
  margin-top: 50px;
}

#penkki {
  float: right;
  margin-right: 100px;
  margin-top: 600px;
}

#videogame {
  float: right;
  margin-top: 50px;
}

#kuvakehys {
  background-image: url("solid-navy.jpg");
  width: 600px;
  float: right;
  justify-content: center;
  border-style: solid;
  border-color:cornflowerblue;
  border-radius: 25px;
}



/* pictures enlarge when hovered */
#pyörä, #computer, #kissa, #penkki, #videogame {
  transition: transform 0.3s ease-in-out;
}

#pyörä:hover, #computer:hover, #kissa:hover, #penkki:hover, #videogame:hover {
  transform: scale(1.2);
}